In [1]:
a="xyz"
print(a)

xyz

In [2]:
a="hey guys"
'e' in a

True

In [1]:
print("Hello\
    world")

Hello    world

In [2]:
print("""hello every one""")

hello every one

In [3]:
print('Hello\'s  world')

Hello's  world

In [4]:
a="madhu"
marks=90.99
age=20
print("the name",a,"marks",marks,"age",age)

the name madhu marks 90.99 age 20

In [6]:
a="madhu"
marks=90.99
age=20
print("the name %s and mark %f and age %d"%(a,marks,age))

the name madhu and mark 90.990000 and age 20

In [9]:
a="madhu"
marks=90.9902135
age=20
print("the name %11s and mark %11.3f and age %d"%(a,marks,age))

the name       madhu and mark      90.990 and age 20

In [11]:
# f string#
print(f"the name  {a} marks {marks} age{age}")

the name  madhu marks 90.9902135 age20

In [12]:
if 1=10  # dont use this kind of things  #

SyntaxError: invalid syntax (<ipython-input-12-ac0fd41743a1>, line 1)

In [13]:
if _10=5

SyntaxError: invalid syntax (<ipython-input-13-e01e7a15d639>, line 1)

In [14]:
x=20
id(x)

1534843408

In [15]:
y=20
id(y) #both show the same address#

1534843408

In [16]:
del x

In [17]:
x

NameError: name 'x' is not defined

In [18]:
10//29 #floor division #

0

In [19]:
10/29 #only in py3#

0.3448275862068966

In [20]:
10**2 # power symblo #

100

In [21]:
true

NameError: name 'true' is not defined

In [22]:
a=10
b=20
a<=b

True

In [23]:
a!=b

True

In [24]:
a!b

SyntaxError: invalid syntax (<ipython-input-24-99db6e1ae059>, line 1)

In [26]:
a+=b
print (a)
a**=b
print(a) #assignment operator#

50
9536743164062500000000000000000000

In [27]:
b=a>> 
print(b)

SyntaxError: invalid syntax (<ipython-input-27-f132a643c2c4>, line 1)

In [29]:
bin(b)

'0b10100'

In [30]:
a&b

0

In [31]:
a|b

9536743164062500000000000000000020

In [33]:
a>b | b>a

False

In [34]:
a>b and b>a

False

In [35]:
a>b or b>a

True

In [37]:
a>b and b>m # m not declared#

NameError: name 'm' is not defined

In [38]:
a>b or b>m #here it consider only first one if it is false directly give false#

True

In [42]:
a>b or b>m
print(b)

20

In [40]:
a<b or b>m # first one is false#

NameError: name 'm' is not defined

In [43]:
amp = " hey guys"
"x" not in amp

True

In [44]:
amp = " hey guys"
"x"  in amp  #impedent operator#

False

In [45]:
a=10
b=10
a is b  #identity operator#

True

In [46]:
a is not b

False

In [47]:
a=1.5
b=1.5
a is b  # its range only in int (-5 to 256)#

False

In [50]:
id(a)

86616112

In [49]:
id(b)

86617568

In [59]:
val =int(input(value))
print(val)

NameError: name 'value' is not defined

In [54]:
eval(10)

TypeError: eval() arg 1 must be a string, bytes or code object

In [55]:
eval('10')

10

In [56]:
eval('10+20/3*2')

23.333333333333336

In [63]:
val =eval(input("value"))
print(val)
print(type(val))

value10.363565
10.363565
<class 'float'>